<div class="flex justify-center h-screen items-center overflow-hidden">
  <div class="container">
    <div class="cover" [ngClass]="{'route-active':isRegister}" >
      <div class="front">
        <img src="https://images.pexels.com/photos/1400172/pexels-photo-1400172.jpeg?auto=compress&cs=tinysrgb&w=600" alt="food Recipe" />
        <div class="text">
          <span class="text-1">
            Recipe Login Page
          </span>
          <span>
            Let's Dive In
          </span>
        </div>
      </div>
      <div class="back">
        <img src="https://images.pexels.com/photos/1391487/pexels-photo-1391487.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Food Recipe" />
      </div>
    </div>
  </div>
</div>
